!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Buttafly
    = stylesheet_link_tag    "buttafly/application", media: "all"
    = javascript_include_tag "buttafly/application"
    = csrf_meta_tags
  %body
    .container-fluid
      = render "shared/header"

      = yield
