.card.card-body
  %dl.row
    %dt.col-sm-3.text-right Host Application name
    %dd.col-sm-9= main_app_name
    %dt.col-sm-3.text-right Filename
    %dd.col-sm-9= @originable.name.blank? ? "no name supplied" : @originable.name

    %dt.col-sm-3.text-right Status
    %dd.col-sm-9= @originable.aasm_state
    %dt.col-sm-3.text-right Headers
    %dd.col-sm-9
      .text-info
        = @originable.originable_headers.join(" | ")
    %dt.col-sm-3.text-right
    %dd.col-sm-9

  .row
    - event_buttons_for(@mapping).each do |button|
      .col= button
    .col-9
  %br
  .card.card-body
    .card-title Current mappings from this sheet to existing legends
    - @mapping.artifacts.each do |artifact|
      .row
        .col
          = artifact.data.keys.second
        .col
          = time_ago_in_words(artifact.created_at) + " ago."
        .col
          = artifact.status.humanize
        .col
          - artifact.data.values.second.each do |key, value|
            .row
              = "#{key}: #{value}"
        .col
          = button_to "revert record", artifact, method: :delete, class: "btn btn-warning"

      %hr
