= form_with(model: spreadsheet, local: true) do |form|
  - if spreadsheet.errors.any?
    #error_explanation
      %h2
        = pluralize(spreadsheet.errors.count, "error")
        prohibited this spreadsheet from being saved:
      %ul
        - spreadsheet.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.file_field :flat_file
  .actions
    = form.submit
