%table.table.table-hover
  %thead
    %tr
      %th{:scope => "col"} Name
      %th{:scope => "col"} Created at
      %th{:scope => "col"} Aasm state
      %th{:scope => "col"} Uploader
      %th{:scope => "col"} Imported at
      %th{:scope => "col"} Processed at
      %th{:scope => "col"}
      %th{:scope => "col"}
      %th{:scope => "col"}
  %tbody
    - @spreadsheets.each do |spreadsheet|
      %tr
        %td= spreadsheet.name.blank? ? spreadsheet.flat_file.to_s.split("/").last : spreadsheet.name
        %td= time_ago_in_words(spreadsheet.updated_at) + " ago"
        %td= spreadsheet.aasm_state
        %td= spreadsheet.uploader_id
        %td= spreadsheet.imported_at
        %td= spreadsheet.processed_at
        %td= link_to 'Show', spreadsheet
        %td= link_to 'Edit', edit_spreadsheet_path(spreadsheet)
        %td= button_to 'Destroy', spreadsheet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger"
%br/
= link_to 'New Spreadsheet', new_spreadsheet_path
