.card
  .card-body
    .card
      %h3
        Name:
        = @spreadsheet.name.blank? ? "no name supplied" : @spreadsheet.name
    .card
      %span.badge.badge-dark= @spreadsheet.aasm_state
    .card
      Headers:
      = @spreadsheet.originable_headers.join(" | ")
    = link_to 'Edit', edit_spreadsheet_path(@spreadsheet)
    |
    = link_to 'Back', spreadsheets_path

    %p
      %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
        Create a new legend with headers from this spreadsheet
      %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
        selected existing legend
#collapseExample.collapse.show
  .card.card-body
    = form_with url: new_spreadsheet_legend_path(@spreadsheet), method: :get do |f|
      .form-group
        = f.label "targetable model"
        = f.select("targetable_model", Buttafly::Targetable.models, {}, class: "form-control")
      = f.submit "write new legend", class: "btn btn-primary btn-block"
