.card
  .card-body
    .card
      %h3
        Name:
        = @spreadsheet.name.blank? ? "no name supplied" : @spreadsheet.name
    .card
      %span.badge.badge-dark= @spreadsheet.aasm_state
    .card
      Headers:
      = @spreadsheet.originable_headers.join(" | ")
    = link_to 'Edit', edit_spreadsheet_path(@spreadsheet)
    |
    = link_to 'Back', spreadsheets_path

    %p
      %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
        Create a new legend with headers from this spreadsheet
      %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
        selected existing legend
#collapseExample.collapse
  .card.card-body
    = form_with url: new_spreadsheet_mapping_path(@spreadsheet) do |f|
      = f.select("targetable_model", Buttafly::Targetable.models, {include_blank: true})

    -# select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'})

    -# = form_with(model: [@spreadsheet, Mapping.new] ) do |f|
    -#   f.select :targetable_model

    -# = form.submit class: "btn btn-primary"
