.card.card-body
  %dl.row
    %dt.col-sm-3.text-right Host Application name
    %dd.col-sm-9= main_app_name
    %dt.col-sm-3.text-right Filename
    %dd.col-sm-9= @spreadsheet.name.blank? ? "no name supplied" : @spreadsheet.name

    %dt.col-sm-3.text-right Status
    %dd.col-sm-9= @spreadsheet.aasm_state
    %dt.col-sm-3.text-right Headers
    %dd.col-sm-9
      .text-info
        = @spreadsheet.originable_headers.join(" | ")
    %dt.col-sm-3.text-right
    %dd.col-sm-9

  .row
    .col
      .card.card-body
        = form_with url: spreadsheet_legends_path(@spreadsheet) do |f|
          = f.fields_for :legend do |f|
            .form-group
              = f.label "targetable model"
              = f.select("targetable_model", Buttafly::Targetable.models, {}, class: "form-control", id: "targetableModel")
            .form-group
              = f.submit "Create new legend", class: "btn btn-primary btn-block"
    .col
      .card.card-body
        = form_with url: spreadsheet_mappings_url(@spreadsheet) do |f|
          = f.fields_for :mapping do |f|
            .form-group
              = f.label "existing legends"
              = f.collection_select(:legend_id, @spreadsheet.legend_candidates, :id, :default_name, {}, class: "form-control", id: "existingLegend")
            .form-group
              = f.submit "Choose from existing legend", class: "btn btn-primary btn-block"
  %br
  .card.card-body
    .card-title Current mappings from this sheet to existing legends
    %table.table.table-hover
      %thead
        %tr
          %th{:scope => "col"} Legend
          %th{:scope => "col"} Targetable model
          %th{:scope => "col"} Status
          %th{:scope => "col"} Actions

      %tbody
        - @spreadsheet.mappings.each do |mapping|
          %tr
            %td= link_to(mapping.legend.name, mapping.legend)
            %td= mapping.legend.targetable_model
            %td= mapping.aasm_state
            %td= button_to "import", import_mapping_url(mapping), method: :patch
