.container
  .row
    %h1
      %span.badge.badge-dark= @spreadsheet.aasm_state
      Name:
      = @spreadsheet.name.blank? ? "no name supplied" : @spreadsheet.name
  .row
    %br
    Headers:
    = @spreadsheet.originable_headers.join(" | ")
    %br
    %br

  .row
    .col
      .card.card-body
        = form_with url: spreadsheet_legends_path(@spreadsheet) do |f|
          = f.fields_for :legend do |f|
            .form-group
              = f.label "targetable model"
              = f.select("targetable_model", Buttafly::Targetable.models, {}, class: "form-control", id: "targetableModel")
            .form-group
              = f.submit "begin new legend", class: "btn btn-primary btn-block"
    .col
      .card.card-body
        = form_with url: spreadsheet_legends_path(@spreadsheet) do |f|
          = f.fields_for :legend do |f|
            .form-group
              = f.label "existing legends"
              = f.select("legend", Buttafly::Legend.pluck(:targetable_model), {}, class: "form-control", id: "legend")
            .form-group
              = f.submit "choose legend", class: "btn btn-primary btn-block"
