%nav.navbar.navbar-light
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  = link_to "Buttafly", root_url, class: "navbar-brand"
  = link_to "Back to #{main_app_name}", main_app.root_url, class: "nav-link"
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "documentation", "http://schadenfred.github.io/buttafly/", class: "nav-link"
      %li.nav-item
      = link_to "homepage", "https://github.com/schadenfred/buttafly", class: "nav-link"
