= form_with url: legends_path do |f|
  = f.fields_for :legend, @legend do |f|
    = f.hidden_field :targetable_model, value: @targetable_model
    = f.hidden_field :originable_headers, value: @originable_headers
    = f.fields_for :data do |f|
      = render partial: "legend", locals: {f: f, ancestors: ancestors, a: @targetable_model, m: @targetable_model, i: 0}
  %br
  = f.submit "create legend", class: "btn btn-primary btn-block"
