%h1
  New legend for mapping rows from
  = @spreadsheet.flat_file.file.path.split("/").last
  into the
  .badge.badge-dark
    = @targetable_model
  model of
  = main_app_name
%h3
  Originable
  = Buttafly.originable_model
= @originable_headers.class 
= render 'form'
