%h1
  New legend for mapping rows from
  = @spreadsheet.flat_file.file.path.split("/").last
  into the
  .badge.badge-dark
    = @targetable_model
  model of
  = main_app_name
%h3
  Originable
  = @targetable_columns
  = Buttafly.originable_model
%hr
= form_with url: spreadsheet_legends_path(@spreadsheet) do |f|
  = f.fields_for :legend, @spreadsheet.legends.new do |f|
    = f.fields_for :data do |f|
      = render partial: "legend", locals: {f: f, ancestors: ancestors, a: @targetable_model, m: @targetable_model, i: 0}
  %br
  = f.submit "create legend", class: "btn btn-primary btn-block"
